*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

# Security sensitive files
*.jks
*.keystore
keystore.properties
local.properties
